---
import BreweryLayout from "@/layouts/BreweryLayout.astro";
import BreweryX from "@/components/BreweryX.astro";
import { Image } from "astro:assets";
import meta from "@/lib/meta";

import banner from "@/assets/img/banner-fade.png";
import cauldronBoiling from "@/assets/video/cauldron-boiling.webm";
import distilling from "@/assets/video/distilling.webm";
import drunkness from "@/assets/img/drunkness.png";
import aging from "@/assets/video/aging.webm";

const badges = [
    {
        href: meta.download.modrinrth,
        img: "https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/modrinth_vector.svg",
        alt: "Download from Modrinth",
    },
    {
        href: "/docs/welcome",
        img: "https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/documentation/generic_vector.svg",
        alt: "Read the Documentation",
    },
    {
        href: meta.discord,
        img: "https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/social/discord-plural_vector.svg",
        alt: "Chat with us on Discord",
    },
];
---

<BreweryLayout disableNavBarOffset>
    <div class="flex flex-col">
        <div class="relative w-full flex flex-col h-[calc(90dvh-var(--navbar-height))]">
            <Image class="absolute w-full h-full -z-40 object-cover object-bottom" src={banner} alt="Banner" />
            <div class="w-full h-full flex justify-center items-center">
                <div class="w-full m-6 sm:m-8 max-w-[70rem] flex flex-col items-center gap-3.5">
                    <span class="text-6xl sm:text-8xl font-black drop-shadow-lg">
                        <BreweryX />
                    </span>
                    <span class="text-zinc-100 drop-shadow-xl"
                        >Plugin for an alternate brewing process, including alcoholic Potions.</span
                    >
                    <div class="badge-container flex flex-col sm:flex-row items-center gap-0 sm:gap-2">
                        {
                            badges.map((badge) => (
                                <a href={badge.href}>
                                    <img alt={badge.alt} height="56" src={badge.img} />
                                </a>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="relative w-full flex flex-col gap-7 items-center justify-center mb-8">
            <span class="block text-4xl font-bold">Features</span>
            <div class="mx-3 sm:mx-6">
                <div class="w-full max-w-[78rem] grid lg:grid-cols-5 gap-6">
                    <div class="feature lg:col-span-3">
                        <div class="feature-background">
                            <video muted autoplay loop>
                                <source src={cauldronBoiling} />
                            </video>
                            <span class="feature-background-shadow"></span>
                        </div>
                        <div class="feature-content">
                            <div class="m-6">
                                <span class="font-bold">Brewing</span>
                                <span class="font-thin text-zinc-300"
                                    >Let your player brew any drink you can imagine and add very cool effects to it in
                                    most unique way possible!</span
                                >
                            </div>
                        </div>
                    </div>
                    <div class="feature lg:col-span-2">
                        <div class="feature-background">
                            <video muted autoplay loop>
                                <source src={distilling} />
                            </video>
                            <span class="feature-background-shadow"></span>
                        </div>
                        <div class="feature-content">
                            <div class="m-6">
                                <span class="font-bold">Distilling</span>
                                <span class="font-thin text-zinc-300"
                                    >Refine your brews with glowstone filters, turning simple brews into strong drinks!</span
                                >
                            </div>
                        </div>
                    </div>
                    <div class="feature lg:col-span-2">
                        <div class="feature-background">
                            <Image src={drunkness} alt="Drunkness" />
                            <span class="feature-background-shadow"></span>
                        </div>
                        <div class="feature-content">
                            <div class="m-6">
                                <span class="font-bold">Drunkness...</span>
                                <span class="font-thin text-zinc-300"
                                    >Watch your limits, or you'll be wobbling through the streets!</span
                                >
                            </div>
                        </div>
                    </div>
                    <div class="feature lg:col-span-3">
                        <div class="feature-background">
                            <video muted autoplay loop>
                                <source src={aging} />
                            </video>
                            <span class="feature-background-shadow"></span>
                        </div>
                        <div class="feature-content">
                            <div class="m-6">
                                <span class="font-bold">Aging</span>
                                <span class="font-thin text-zinc-300"
                                    >Some drinks require patience. Let them mature in barrels for a richer flavor!</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative w-full flex justify-center">
            <span class="text-4xl font-bold">Team (TODO)</span>
        </div>
    </div>
</BreweryLayout>

<style>
    .badge-container a {
        text-decoration: none;
        filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.25));
    }

    .feature {
        position: relative;
        overflow: hidden;
        height: 28rem;
        border-radius: 2rem;

        box-shadow: 0px 0px 24px 0px rgba(252, 168, 80, 0.1);
    }

    .feature-background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    .feature-background > video,
    .feature-background > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }

    .feature-background-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;

        box-shadow: inset 0px 0px 80px 35px rgba(0, 0, 0, 1);
    }

    .feature-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: end;
        font-size: 1.15rem;
    }
</style>
